<a href="https://colab.research.google.com/github/sh4rkd/procesamiento_de_datos_con_python_fred_2021/blob/master/Sesion-08/Reto-03/merge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reto 3: `merge` para completar información faltante

### 1. Objetivos:
    - Completar la tabla `users` usando la información contenida en las tablas `occupations` y `age_ranges`.
    
---
    
### 2. Desarrollo:

#### a) Complementado información usando el método `merge`

No es muy práctico tener las tablas `occupations` y `age_range` por sí solas, ya que la información que contienen está íntimamente relacionada con al información de la tabla `users`. Vamos entonces a unir las tres tablas en una sola tabla para tener esa información mucho más accesible. Tu Reto consiste en los siguientes pasos:

1. Lee tus archivos `users`, `occupations` y `age_range` (o como sea que les quisiste llamar) y conviértelos en `DataFrames`.
2. Utiliza el método `merge` para agregar la información contenida en la tabla `occupations` a la tabla `users`.
3. Utiliza el método `merge` para agregar la información contenida en la tabla `age_ranges` a la tabla `users`.
4. Si lo consideras necesario, renombra y reordena las columnas para que la información sea clara.
5. Guarda tu nuevo conjunto de datos en un nuevo archivo .csv.

In [26]:
import pandas as pd
users = pd.read_csv('https://github.com/beduExpert/Procesamiento-de-Datos-con-Python-Santander_2020_2021/raw/master/Datasets/MovieLens/users-raw.csv', index_col=0, names=['gender', 'age', 'occupation', 'cp'])
occupations = pd.read_csv('https://github.com/beduExpert/Procesamiento-de-Datos-con-Python-Santander_2020_2021/raw/master/Datasets/MovieLens/occupations-raw.csv', index_col=0, names=['description'])
age = pd.read_csv('https://github.com/beduExpert/Procesamiento-de-Datos-con-Python-Santander_2020_2021/raw/master/Datasets/MovieLens/age_ranges-raw.csv',index_col=0,names = ['range'])

In [27]:
df_users = pd.DataFrame(users,columns=["gender","age","occupation","cp"])
df_occupations = pd.DataFrame(occupations,columns=['description'])
df_age = pd.DataFrame(age,columns=["range"])

In [28]:
df_users_full = pd.merge(df_users, df_occupations, left_on='occupation', right_index=True)

In [33]:
df_users_full = pd.merge(df_users_full, df_age, left_on='age', right_index=True)

In [34]:
df_users_full.sort_index()

     gender age occupation     cp           description   range_x   range_y
1         F   1         10  48067          K-12 student  Under 18  Under 18
10        F  35          1  95370     academic/educator     35-44     35-44
100       M  35         17  95401   technician/engineer     35-44     35-44
1000      F  25          6  90027    doctor/health care     25-34     25-34
1001      M  25          4  90210  college/grad student     25-34     25-34
...     ...  ..        ...    ...                   ...       ...       ...
995       F  18          4  96803  college/grad student     18-24     18-24
996       M  25         17  98102   technician/engineer     25-34     25-34
997       M   1         19  15748            unemployed  Under 18  Under 18
998       M  45         20  10019                writer     45-49     45-49
999       M  25         15  62558             scientist     25-34     25-34

[6040 rows x 7 columns]

Compara tus resultados con tus compañeros y tu experta para asegurarse de que todos tengan un conjunto similar que contenga toda la información requerida.